html, body, #root
  width: 100%
  height: 100%
  margin: 0px
  padding: 0px
  font-family: sans-serif

#root
  display: flex
  justify-content: center
  align-items: center

body
  background-color: #dde1e7

/* --------------------- */
/* Neumorphism mixins */

@mixin neumorphism-pressed($width, $height)
  height: $height
  width: $width
  background: #dde1e7
  border-radius: 20px
  box-shadow: inset -5px -5px 9px rgba(255,255,255,0.45), inset 5px 5px 9px rgba(94,104,121,0.3)



@mixin neumorphism-default($width, $height)
  height: $height
  width: $width
  background: #dde1e7
  border-radius: 20px
  box-shadow: -5px -5px 9px rgba(255,255,255,0.45), 5px 5px 9px rgba(94,104,121,0.3)

/* --------------------- */
/* Layout */
  
.flex-layout
  display: flex
  gap: 50px
  border-radius: 30px
  width: 90%
  height: 90%
  max-width: 1800px
  max-height: 988px

.flex-left
  width: 25%
  
.flex-right
  display: flex
  flex-direction: column
  width: 75%

/* --------------------- */
/* Overview component */

.overview-component
  @include neumorphism-default(100%, 100%)

/* --------------------- */
/* Header component */

.header-component
  height: 6%
  width: 100%
  display: flex
  justify-content: space-between

.header-component div
  display: flex
  gap: 2em

.today-active
  @include neumorphism-pressed(null , 100%)
  display: flex
  justify-content: center
  align-items: center
  aspect-ratio: 3 / 1

.week-inactive
  @include neumorphism-default(null , 100%)
  display: flex
  justify-content: center
  align-items: center
  aspect-ratio: 3 / 1

.temperature-container
  width: 13%
  height: 100%
  display: flex
  justify-content: space-between

.celsius-active
  @include neumorphism-pressed(null , 100%)
  display: flex
  justify-content: center
  align-items: center
  aspect-ratio: 1 / 1
  border-radius: 30px
  text-align: center

.fahrenheidt-inactive
  @include neumorphism-default(null , 100%)
  display: flex
  justify-content: center
  align-items: center
  border-radius: 30px
  aspect-ratio: 1 / 1
  
/* --------------------- */
/* Week component */

.week-component
  display: flex
  gap: 1.1em
  height: 30%
  align-items: center
  width: 100%
  justify-content: space-between

.weekday
  @include neumorphism-default(14.28%, 80%)
  text-align: center

/* --------------------- */
/* Week component */

.highlight-component
  height: 60%
  @include neumorphism-default(100% , 64%)
  
  